* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
html,
body {
	height: 100%;
}

button {
	padding: 12px;
	background: #75daff;
	color: #000;
	font-size: 1.3rem;
	width: 50%;
	cursor: pointer;
	max-width: 500px;
	border: 0;
}
button:hover {
	background-color: #105d97;
}

img {
	max-width: 100%;
}

input {
	padding: 16px;
	box-shadow: none;
	border: 1px solid black;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.logo {
	color: rgb(117, 218, 255);
	background-color: #000;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	text-shadow: 1px 2px 0 #fff, 1px 5px 3px #fff;
	font-size: 5rem;
}

.logo-img {
	max-width: 100px;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	padding: 0 24px;
}

ul li {
	padding: 8px;
}

ul a {
	text-decoration: none;
	color: rgb(117, 218, 255);
	font-size: 1.5rem;
}

a:hover {
	color: #105d97;
}

a:hover {
	filter: saturate(50%);
}

p {
	padding: 8px 0;
	color: #000;
}

.menu {
	margin-top: 48px;
}

.home-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.home-buttons-1 {
	background: aliceblue;
	margin: 80px 0;
}

.carritoWrapper {
	margin-left: auto;
}
.carrito {
	width: 40px;
}

.cajas,
.cartas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 48px;
}

.productosCarrito {
	flex-wrap: wrap;
}
.producto {
	color: #fff;
	width: 500px;
	padding: 0 0 48px 0;
	margin: 0 24px 24px;
	border-bottom: 2px solid black;
}

.product-title {
	font-weight: bold;
	font-size: 1.3rem;
	color: #000;
}

.carta {
	width: 200px;
}

.caja {
	width: 300px;
	flex-wrap: wrap;
}

.price {
	color: #ff8d00;
	font-size: 2rem;
}

.link {
	position: relative;
	text-decoration: none;
	text-align: center;
}

.link-text {
	font-size: 6rem;
	color: black;
	text-decoration: none;
}

.usuarioImg {
	max-width: 35px;
}

.form-group {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}
.account {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alert {
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	width: 300px;
	margin: auto;
}

section {
	display: flex;
	width: 100%;
	width: 600px;
}

section img {
	width: 0px;
	height: 600px;
	flex-grow: 1;
	object-fit: cover;
	opacity: 0.8;
	transition: 0.5s ease;
}

section img:hover {
	cursor: crosshair;
	width: 200px;
	opacity: 1;
	filter: contrast(120%);
}

.randomUser {
	max-width: 50px;
	border-radius: 50%;
	margin-right: 24px;
}

.review {
	margin-top: 50px;
	display: flex;
	align-items: center;
	padding: 24px;
	justify-content: center;
}

section {
	margin-left: 10%;
}

.padre {
	padding: 24px;
}

.homeTitulo {
	font-size: 60px;
	font-weight: 900;
	max-width: 500px;
}

.escribirEmail {
	width: 70%;
	margin-right: 10px;
}

.enviarEmail {
	width: 25%;
}

.iconos {
	display: flex;
	justify-content: space-around;
	width: 300px;
	align-items: center;
}
.iconos img {
	width: 50px;
	margin-top: 100px;
	margin-bottom: 50px;
}

.descripcion {
	color: #000;
}

.botonComprar {
	width: 300px;
	margin-bottom: 10px;
}

.botonVaciar {
	margin-bottom: 20px;
	width: 300px;
}

.formularioPadre {
	flex-direction: column;
	border: 2px solid #1c6ea4;
}
.formularioHijo {
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.inputs {
	margin-top: 10px;
}

.input {
	width: 100%;
}

.formularioP {
	font-size: 20px;
}
.finalizarCompra {
	width: 300px;
	margin-top: 30px;
}

.signup {
	border: 2px solid #1c6ea4;
}
.form-group {
	margin-left: 50px;
	margin-right: 50px;
}

.usuario1 {
	margin-bottom: 10px;
}

.usuario2 {
	margin-bottom: 10px;
}
.loginbuton {
	position: relative;
}

.carritoMaster {
	padding: 48px;
}

.container {
	background: #fff;
	position: relative;
	overflow: hidden;
	opacity: 85%;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	transition: 333ms;
	border: 1px solid #75daff;
}

.form-container form {
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	justify-content: center;
	align-items: stretch;
	text-align: center;
}

.form-container input {
	width: 100%;
}

.account-button {
	width: 100%;
	border: 1px solid white;
	transition: transform 80ms ease-in;
}

.account-button:active {
	transform: scale(0.95);
}

.ghost {
	background: transparent;
	border-color: #fff;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-up-container {
	left: 0;
	width: 50%;
	z-index: 1;
	opacity: 0;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #ff416c;
	background: linear-gradient(to right, #008ecf, #008ecf) no-repeat 0 0 / cover;
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateY(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	height: 100%;
	width: 50%;
	text-align: center;
	transform: translateY(0);
	transition: transform 0.6s ease-in-out;
}
.overlay-right {
	right: 0;
	transform: translateY(0);
}
.overlay-left {
	transform: translateY(-20%);
}
.container.right-panel-active .sign-in-container {
	transform: translateY(100%);
}
.container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}
.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}
.container.right-panel-active .overlay {
	transform: translateX(50%);
}
.container.right-panel-active .overlay-left {
	transform: translateY(0);
}
.container.right-panel-active .overlay-right {
	transform: translateY(20%);
}
.buscador {
	margin-right: auto;
	margin-left: 100px;
	width: 20%;
}

@media (max-width: 480px) {
	.menu {
		display: flex;
		flex-direction: column;
	}
	.carritoWrapper {
		margin: 0;
	}
}

@media (max-width: 1025px) {
	.logo {
		font-size: 2.5rem;
	}
	.escribirEmail,
	.enviarEmail {
		width: 100%;
		max-width: initial;
		margin-top: 20px;
	}
	section {
		margin: 0;
		width: 100%;
		max-width: 600px;
	}
}

@media (min-width: 1025px) {
	.padre {
		display: flex;
	}
}
